body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    color: black;
}
.note{
    font-size: 15px;
    color: black;
}

canvas{
    border:5px solid white;
    border-radius:20px;
}

#h3_song{
    font-size: 20px;

}